
{{ header }}

<main id="product-search" class="relative z-30 max-w-full md:px-3">
  <div class="main-container max-w-screen-xl-monitor mx-auto grid main-bg-linear">

    {% if breadcrumbs %}
      <nav class="breadcrumb-list flex justify-start pt-6 px-8" aria-label="Breadcrumb">
        <ol class="inline-flex flex-wrap">
          {% for breadcrumb in breadcrumbs %}
            <li class="inline-flex items-start justify-end group/breadcrump-item before:block before:content-['\\'] before:px-2 first:before:content-none before:text-textGray">
              <a href="{{breadcrumb.href}}" class="inline-flex items-center text-textGray min-h-6 hover:text-darkGreen group-last/breadcrump-item:hover:text-textGray group-last/breadcrump-item:pointer-events-none">
                <svg class="w-4 h-4 me-2 hidden group-first/breadcrump-item:block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                </svg>
                <span class="ms-1 text-sm font-medium group-last/breadcrump-item:font-semibold group-last/breadcrump-item:text-lightBlack group-last/breadcrump-item:pb-1 grid">
                  <span class="breadcrump-text">{{breadcrumb.text}}</span>
                </span>
              </a>
            </li>
          {% endfor %}

        </ol>
      </nav>
    {% endif %}

    <section class="w-full py-8">
      <div class="grid grid-cols-1 md:grid-cols-[minmax(250px,_1fr)_3fr] gap-8">

        <aside class="hidden gap-6 bg-white rounded-3xl p-6 py-8 md:flex flex-col">

          <form class="flex items-center w-full mx-auto" method="GET" action="{{search_action}}">
            <label for="voice-search" class="sr-only">{{text_search}}</label>
            <div class="relative w-full">
                <input type="text" 
                  name="search" 
                  value="{{ search }}" 
                  placeholder="{{ text_keyword }}" 
                  class="block w-full rounded-xl border-none text-sm text-lightBlack md:h-12 placeholder-lightBlack focus:outline-none focus:shadow-none bg-disabledGray" >
                <button type="submit" class="absolute inset-y-0 end-0 flex items-center pe-3">
                  <svg class="w-4 h-4 md:w-6 md:h-6" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6755 17.8723C20.7457 18.8472 21.7262 19.913 22.794 20.8908C23.4183 21.4631 24.0233 22.0592 24.5983 22.6798C25.1046 23.2258 25.1269 24.6244 24.6957 25.2491C24.6059 25.379 24.4633 25.4251 24.3383 25.4915C23.3573 26.0119 22.5371 25.9647 21.7227 25.1634C19.7588 23.2305 17.8056 21.2859 15.8594 19.3355C15.6622 19.138 15.5384 19.1613 15.3249 19.2971C14.6489 19.7271 13.9273 20.0622 13.1645 20.3267C12.7356 20.4753 12.2996 20.5616 11.8666 20.6775C10.9607 20.9194 10.0354 20.8885 9.12891 20.8197C7.20207 20.6741 5.47647 19.9381 3.93628 18.7895C2.7986 17.9416 1.92788 16.8595 1.2232 15.6352C0.649961 14.6393 0.294985 13.5641 0.107228 12.4476C-0.04415 11.545 -0.0177467 10.6225 0.0784783 9.70468C0.183504 8.70063 0.464552 7.75194 0.886417 6.8388C1.50425 5.50142 2.36089 4.34528 3.48449 3.38027C4.77649 2.27192 6.25859 1.54233 7.91847 1.18162C8.75516 0.999809 9.61004 0.919392 10.469 0.974751C10.939 1.00505 11.4072 1.07498 11.876 1.12684C11.896 1.12859 11.9159 1.13092 11.9359 1.13267C12.3689 1.25446 12.8078 1.35702 13.2331 1.50096C14.5838 1.95899 15.7954 2.65128 16.8252 3.64425C17.788 4.57313 18.5795 5.62496 19.1404 6.83647C19.4796 7.56954 19.716 8.3405 19.8504 9.1371C19.9624 9.80083 20.0475 10.4756 20.0147 11.1446C19.9677 12.091 19.8463 13.0274 19.5283 13.9406C19.2243 14.8135 18.8553 15.641 18.3208 16.3939C18.2492 16.4947 18.3055 16.532 18.3583 16.5838C18.6986 16.9178 19.0407 17.2493 19.3822 17.5821C19.4637 17.6951 19.5611 17.7924 19.6755 17.8723ZM10.2214 18.3449C11.0546 18.3705 11.9488 18.2009 12.8136 17.8606C13.2009 17.7085 13.5811 17.5395 13.9267 17.3128C14.6971 16.807 15.3577 16.1713 15.9744 15.4936C16.5341 14.8788 16.9742 14.1882 17.2165 13.3864C17.541 12.3124 17.724 11.2338 17.5815 10.0957C17.4518 9.05726 17.1713 8.07827 16.6403 7.19019C15.3407 5.01834 13.4039 3.77304 10.8762 3.484C9.38591 3.31384 7.966 3.60754 6.63821 4.30799C5.49055 4.91403 4.56409 5.75666 3.85003 6.83996C2.68536 8.60564 2.36617 10.5421 2.81209 12.5665C3.14418 14.0752 3.92983 15.384 5.11562 16.4195C6.54609 17.6695 8.19835 18.3623 10.222 18.3443L10.2214 18.3449Z" fill="url(#current_linear_gradient)"></path>
                  </svg>
                </button>
            </div>
          </form>

          <div class="flex flex-col gap-2" x-data="{ expanded: false }">
            <h3 class="text-lightBlack test-base font-semibold">{{title_category_plural}}</h3>
            <div class="scroll-dir-rtl nested-category-list pl-0" :class="expanded || 'max-h-60 overflow-x-clip overflow-y-auto'" x-transition>
              <ul class="font-medium text-base text-lightBlack">
                {% for category in categories_list %}
                  <li>
                    <a href="{{category.href}}" class="flex items-center px-2 p-2 pl-0 w-full transition duration-75 hover:bg-gray-50 [&.active]:bg-gray-50 {% if current_category_id == category.id %} active {% endif %}">
                      <span class="flex-1 text-left rtl:text-right whitespace-nowrap"><span class="grid"><span class="truncate">{{category.name}}</span></span></span>
                    </a>
                    {% if category.has_childs %}
                      <ul class="font-medium text-base text-lightBlack">
                        {% for _category in category.children %}
                          <li>
                            <a href="{{_category.href}}" class="flex items-center px-2 p-2 pl-0 w-full transition duration-75 hover:bg-gray-50 [&.active]:bg-gray-50 {% if current_category_id == _category.id %} active {% endif %}">
                              <span class="flex-1 text-left rtl:text-right whitespace-nowrap"><span class="grid"><span class="truncate">{{_category.name}}</span></span></span>
                            </a>
                            {% if _category.has_childs %}
                              <ul class="font-medium text-base text-lightBlack">
                                {% for __category in _category.children %}
                                  <li>
                                    <a href="{{__category.href}}" class="flex items-center px-2 p-2 pl-0 w-full transition duration-75 hover:bg-gray-50 [&.active]:bg-gray-50 {% if current_category_id == __category.id %} active {% endif %}">
                                      <span class="flex-1 text-left rtl:text-right whitespace-nowrap"><span class="grid"><span class="truncate">{{__category.name}}</span></span></span>
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <button class="w-max font-medium text-lightGreen hover:underline hover:text-darkGreen cursor-pointer" @click="expanded = !expanded">{{button_expanded_all}}</button>
          </div>

        </aside>

        {% if products %}
          <div class="w-full bg-white rounded-3xl p-8 px-2 xl-mobile:px-6 grid gap-24">
            <div class="page-category-products">

              <div class="flex">
                <h2 class="block text-lightBlack text-xl font-bold pb-12 sm-mobile:text-2xl xl-notebook:text-5xl flex-auto">
                  <span class="line-clamp-2">{{heading_title}}</span>
                </h2>
                <div>
                  <label for="sort" class="sr-only">Underline select</label>
                  <select id="sort" onchange="location = this.value;"
                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                      {% for sorts in sorts %}
                        {% if sorts.value == '%s-%s'|format(sort, order) %}
                          <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                        {% else %}
                          <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>

              <ul class="grid grid-cols-2 gap-1 gap-y-12 xl-mobile:grid-cols-3 md:grid-cols-[repeat(2,minmax(145px,_1fr))] sm-notebook:grid-cols-[repeat(3,minmax(146px,_1fr))] sm-tablet:gap-3 sm-tablet:gap-y-12 md:gap-y-16">
                {% for product in products %}
                  <li>
                    <div class="relative flex flex-col items-center gap-3 w-full min-w-36 max-w-full bg-lightBlue rounded-lg h-full group/product-item transition hover:shadow-lg">
                      <!-- product image  -->
                      <div class="w-full">
                        <a href="{{product.href}}" class="block relative w-full pb-[100%] overflow-hidden rounded-t-lg">
                          <img src="{{product.thumb}}" class="block absolute top-0 left-0 right-0 w-full h-full transition transform-gpu group-hover/product-item:scale-110" 
                            alt="{{product.name}}" />
                        </a>
                      </div>
      
                      <!-- product image  -->
      
                      <div class="flex flex-col w-full gap-3 px-4 pb-6 xl-mobile:gap-5 md:pb-12" >
      
                        <a href="{{product.href}}">
                          <h5 class="text-xs font-semibold tracking-tighter text-lightBlack max-h-12 overflow-clip sm:text-base sm:max-h-[4.5rem]" >
      
                            <!-- product price  -->
                            <span class="float-right font-bold sm:text-base lg:text-2xl">
                              {% if special %}
                                {{product.special}}
                              {% else %}
                                {{product.price}}
                              {% endif %}
                            </span>
                            <!-- product price  -->
      
                            <!-- product name  -->
                            <span class="block w-full">{{product.name}}</span>
                            <!-- product name  -->
                          </h5>
                        </a>

                        {% if product.attributes %}
                          <!-- product attributes  -->
                          <ul class="grid grid-cols-1 gap-3 sm-mobile:grid-cols-2 text-xs sm-mobile:text-8px sm:text-10px md:text-xs lg:text-base">
                            {% for attr in product.attributes %}
                              <li class="flex items-center">
                                {{ attr.icon | raw}}
                                <span>{{attr.value}}</span>
                              </li>
                            {% endfor %}
                          </ul>
                          <!-- product attributes  -->
                        {% endif %}
                        
      
                      </div>
      
                      <!-- product actions  -->
                      <div class="absolute bottom-0 right-0 translate-y-1/2 -translate-x-2">
                        <button type="button" 
                          onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"
                          class="relative p-3 md:p-6 bg-white rounded-full shadow-sm group-hover/product-item:shadow-lg group/product-btn-cart transition hover:bg-gradient-to-r hover:from-lightGreen hover:to-darkGreen">
                          <span class="absolute top-0 left-0 inline-flex h-full w-full transition group-hover/product-btn-cart:animate-ping rounded-full group-hover/product-btn-cart:bg-lightGreen opacity-75"></span>
                          <svg class="w-5 h-5 fill-[url(#current_linear_gradient)] group-hover/product-btn-cart:fill-white transition" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7999 0H7.19992V7.2H0V10.8H7.19992V18H10.7999V10.8H18V7.2H10.7999V0Z"/>
                          </svg>
                        </button>
                      </div>
                      <!-- product actions  -->
      
                    </div>
                  </li>
                {% endfor %}

              </ul>
            </div>

            <div class="flex flex-wrap gap-3 justify-between">
              {{results}}
              {{pagination}}
            </div>

            <div class="text-sm *:pb-3">
              {{description|raw}}
            </div>

          </div>
        {% else %}
      
            <div class="w-full bg-white rounded-3xl p-8 px-2 xl-mobile:px-6 grid gap-24">
              <div class="page-category-list">
                  <h1 class="block text-lightBlack text-xl font-bold pb-12 sm-mobile:text-2xl xl-notebook:text-5xl">
                    <span class="line-clamp-2">{{text_empty}}</span>
                  </h1>
              </div>
              <div class="page-category-products">
                <ul class="grid grid-cols-2 gap-1 gap-y-12 xl-mobile:grid-cols-3 md:grid-cols-[repeat(2,minmax(145px,_1fr))] sm-notebook:grid-cols-[repeat(3,minmax(146px,_1fr))] sm-tablet:gap-3 sm-tablet:gap-y-12 md:gap-y-16">
                  <!-- full catalog link -->
                  <li class="last:col-span-2 xl-mobile:last:col-span-1">
                    <div class="relative flex flex-col items-center w-full min-w-36 rounded-lg border h-full py-6 xl-mobile:pt-0 xl-mobile:gap-3 group/product-item transition hover:shadow-lg">

                      <p class="w-full text-lightBlack uppercase font-bold text-base sm-mobile:text-2xl xl-mobile:hidden content-center text-center">{{text_catalog_all}}</p>
                      <div class="w-full">
                        <a href="{{ continue }}" class="block relative w-full xl-mobile:pb-[100%]">
                            <img src="/catalog/view/theme/berisey/image/products-wall.png" 
                              class="block w-full h-full object-contain xl-mobile:absolute top-1/2 left-1/2 xl-mobile:-translate-x-1/2 xl-mobile:-translate-y-1/2 transition transform-gpu group-hover/product-item:rotate-12 group-hover/product-item:scale-110" alt="{{text_catalog}}" />
                        </a>
                      </div>

                      <div class="flex flex-wrap w-full gap-3 px-4 xl-mobile:gap-5 flex-auto">
                        <p class="hidden w-full text-lightBlack uppercase font-bold text-base text-center content-center xl-mobile:block md:text-2xl">{{text_catalog_all}}</p>
                        <div class="flex items-end justify-center w-auto flex-auto">
                          <a href="{{ continue }}" class="relative flex bg-gradient-to-r from-lightGreen to-darkGreen px-10 py-3 rounded-md text-white xl-mobile:px-6 md:px-10 transition group/catalog-link">
                            {{text_catalog}}
                          </a>
                        </div>
                      </div>

                    </div>

                  </li>
                  <!-- full catalog link -->
                </ul>
              </div>
              
            </div>


        {% endif %}
        
      </div>
    </section>
  </div>

  <div class="main-container has-section-divided max-w-screen-xl-monitor mx-auto grid main-bg-linear gap-36 pt-11 *:-my-11">
    {{content_bottom}}
  </div>

<script type="text/javascript"><!--
  $('#button-search').bind('click', function() {
    url = 'index.php?route=product/search';

    var search = $('#content input[name=\'search\']').prop('value');

    if (search) {
      url += '&search=' + encodeURIComponent(search);
    }

    var category_id = $('#content select[name=\'category_id\']').prop('value');

    if (category_id > 0) {
      url += '&category_id=' + encodeURIComponent(category_id);
    }

    var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

    if (sub_category) {
      url += '&sub_category=true';
    }

    var filter_description = $('#content input[name=\'description\']:checked').prop('value');

    if (filter_description) {
      url += '&description=true';
    }

    location = url;
  });

  $('#content input[name=\'search\']').bind('keydown', function(e) {
    if (e.keyCode == 13) {
      $('#button-search').trigger('click');
    }
  });

  $('select[name=\'category_id\']').on('change', function() {
    if (this.value == '0') {
      $('input[name=\'sub_category\']').prop('disabled', true);
    } else {
      $('input[name=\'sub_category\']').prop('disabled', false);
    }
  });

  $('select[name=\'category_id\']').trigger('change');
--></script>
{{ footer }} 




<div id="product-search" class="container">

  <div class="row">
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <label class="control-label" for="input-search">{{ entry_search }}</label>
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />
        </div>
        <div class="col-sm-3">
          <select name="category_id" class="form-control">
            <option value="0">{{ text_category }}</option>
            {% for category_1 in categories %}
            {% if category_1.category_id == category_id %}
            <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
            {% else %}
            <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
            {% endif %}
            {% for category_2 in category_1.children %}
            {% if category_2.category_id == category_id %}
            <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% else %}
            <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% endif %}
            {% for category_3 in category_2.children %}
            {% if category_3.category_id == category_id %}
            <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% else %}
            <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-3">
          <label class="checkbox-inline">
            {% if sub_category %}
            <input type="checkbox" name="sub_category" value="1" checked="checked" />
            {% else %}
            <input type="checkbox" name="sub_category" value="1" />
            {% endif %}
            {{ text_sub_category }}</label>
        </div>
      </div>
      <p>
        <label class="checkbox-inline">
          {% if description %}
          <input type="checkbox" name="description" value="1" id="description" checked="checked" />
          {% else %}
          <input type="checkbox" name="description" value="1" id="description" />
          {% endif %}
          {{ entry_description }}</label>
      </p>
      <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />
      <h2>{{ text_search }}</h2>
      {% if products %}
      <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a>
          </div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div>
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p>{{ product.description }}</p>
                {% if product.price %}
                <p class="price">
                  {% if  not product.special %}
                  {{ product.price }}
                  {% else %}
                  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                  {% endif %}
                  {% if product.tax %}
                  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                  {% endif %}
                </p>
                {% endif %}
                {% if product.rating %}
                <div class="rating">
                  {% for i in 1..5 %}
                  {% if product.rating < i %}
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% else %}
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              <div class="button-group">
                <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
