{{ header }} 

<main id="checkout-checkout" class="relative z-30 max-w-full md:px-3 mb-16">
    <div class="main-container max-w-screen-xl-monitor mx-auto grid main-bg-linear">

        {% if breadcrumbs %}
        <nav class="breadcrumb-list flex justify-start pt-6 px-8" aria-label="Breadcrumb">
            <ol class="inline-flex flex-wrap">
            {% for breadcrumb in breadcrumbs %}
                <li class="inline-flex items-start justify-end group/breadcrump-item before:block before:content-['\\'] before:px-2 first:before:content-none before:text-textGray">
                <a href="{{breadcrumb.href}}" class="inline-flex items-center text-textGray min-h-6 hover:text-darkGreen group-last/breadcrump-item:hover:text-textGray group-last/breadcrump-item:pointer-events-none">
                    <svg class="w-4 h-4 me-2 hidden group-first/breadcrump-item:block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                    </svg>
                    <span class="ms-1 text-sm font-medium group-last/breadcrump-item:font-semibold group-last/breadcrump-item:text-lightBlack group-last/breadcrump-item:pb-1 grid">
                    <span class="breadcrump-text">{{breadcrumb.text}}</span>
                    </span>
                </a>
                </li>
            {% endfor %}

            </ol>
        </nav>
        {% endif %}

		{{ content_top }}

        <section class="w-full pt-8">
            <div class="grid grid-cols-1 sm-notebook:grid-cols-[3fr_minmax(320px,_1fr)] gap-8">

                <div id="content" class="w-full bg-white rounded-3xl p-8 px-2 xl-mobile:px-6 grid gap-12">

                    <h1 class="block text-lightBlack text-xl font-bold sm-mobile:text-2xl xl-notebook:text-5xl last:pb-0">
                        <span class="line-clamp-2">{{ page_title }}</span>
                    </h1>

                    {% if errors %}
						{% for error in errors %}
							<div id="checkout-alert" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50" role="alert">
								<svg class="w-5 h-5 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
									<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
								</svg>
								<span class="sr-only">Информация</span>
								<div class="ms-3 text-sm font-medium alert-message">{{ error }}</div>
								<button type="button" 
									class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8" 
									data-dismiss-target="#checkout-alert" 
									aria-label="Close">
									<span class="sr-only">Закрыть</span>
									<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
									</svg>
								</button>
							</div>
						{% endfor %}
					{% elseif empty %}
						<div class="alert alert-info">{{ empty }}</div>
                    {% endif %}


					<div class="relative" id="custom-cart">
						{{ cart }}
					</div>

                    {# <div class="col-sm-8">
						{{ column_left }}
						{% if login and not logged %} 
							<div id="custom-login">{{ login }}</div>
						{% endif %} 
						{% if customer and not logged %} 
							<div id="custom-customer">{{ customer }}</div>
						{% endif %} 
						{% if shipping and shipping != constant('false') %} 
							<div id="custom-shipping">{{ shipping }}</div>
						{% endif %} 
						{% if payment %} 
							<div id="custom-payment">{{ payment }}</div>
						{% endif %}	
						{% if comment and comment != constant('false') %} 
							<div id="custom-comment">{{ comment }}</div>
						{% endif %} 
					</div> #}

                    <div class="flex gap-3">

                        <div id="checkout-tab-content" class="flex-auto w-full grid grid-cols-1 md:grid-cols-2 gap-3">


                            <div class="col-span-full flex flex-wrap gap-3">
                                {% if login and not logged %} 
                                    <div id="custom-login" x-data x-transition class="group max-w-full w-full shrink-0 has-[form.hidden]:md:max-w-max md:h-full">
                                        {{login}}
                                    </div>
                                {% endif %} 
                                {% if customer and not logged %}
                                    <div id="custom-customer" x-data x-transition  class="p-4 rounded-lg bg-lightBlue flex flex-col h-max flex-1 md:h-full">
                                        {{customer}}
                                    </div>
                                {% endif %} 
                            </div>
                            
                            {% if shipping and shipping != constant('false') %} 
                                <div id="custom-shipping" x-data x-transition class="col-span-full" >
                                    {{shipping}}
                                </div>
                            {% endif %} 

                            <div class="flex flex-1 flex-wrap gap-3 h-full md:flex-nowrap w-full col-span-full">
                                {% if payment %} 
                                    <div id="custom-payment" x-data x-transition  class="p-4 rounded-lg bg-lightBlue flex flex-col h-max min-w-80 w-full md:max-w-80 md:h-full">
                                        {{payment}}
                                    </div>
                                {% endif %}	
                                {% if comment and comment != constant('false') %} 
                                    <div id="custom-comment" x-data x-transition  class="p-4 rounded-lg bg-lightBlue flex flex-col h-max md:h-full max-w-full w-full flex-1">
                                        {{comment}}
                                    </div>
                                {% endif %} 
                            </div>

                        </div>
                    </div>

                </div>

                <aside>
					<div class="sticky top-48 gap-6 bg-white rounded-3xl p-6 py-8">
                        <div class="flex flex-col max-w-96 mx-auto">
                            {% if total %} 
                                <div id="custom-total">{{ total }}</div>
                            {% endif %}
                            {% if payment %} 
                                <div class="flex items-start sm:items-center" id="custom-control">
                                    <div class="alert-target"></div>
                                    {% if text_agree %} 
                                        <input id="input-agree" type="checkbox" name="agree" value="1" {% if agree %} checked="checked" {% endif %} class="h-4 w-4 rounded border-darkGreen bg-lightBlue text-darkGreen focus:ring-2 focus:ring-darkGreen" />
                                        <label for="input-agree" class="ms-2 text-sm font-medium text-gray-900">{{ text_agree }}</label>
                                    {% endif %}
                                </div>
                                

                                <div class="flex flex-col gap-3">

                                    <button type="button" id="button-custom-order" 
                                        class="mt-4 flex w-full items-center justify-center rounded-lg bg-lightGreen px-5 py-2.5 text-xl font-medium text-white
                                        hover:bg-darkGreen focus:outline-none focus:ring-4 focus:ring-darkGreen">
                                        {{ button_continue }}
                                    </button>

                                    <p class="flex w-full justify-center border-t border-t-lightGray/20 mt-3">
                                        <span class="max-w-max px-2 -mt-3 bg-white text-xs text-lightGray">или</span>
                                    </p>

                                    <button type="button" 
                                        onclick="document.location = '{{ back_to_shopping_action }}'"
                                        class="w-full flex gap-1.5 justify-center items-center rounded-lg border border-lightGray/20 bg-white px-5 py-2.5 text-sm font-medium text-lightBlack hover:bg-lightBlue focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 ">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="lightGray" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                                        </svg>
                                        {{back_to_shopping}}
                                    </button>
                                </div>
                            {% endif %}
                        </div>
					</div>

                </aside>

            </div>
        </section>
    </div>

	<div id="custom-confirm" style="display: none;">
        <div class="alert-target"></div>
        <div class="flex body"></div>
    </div>

	{% if content_bottom %}
		<div class="main-container has-section-divided max-w-screen-xl-monitor mx-auto grid main-bg-linear gap-36 pt-11 *:-my-11">
				{{content_bottom}}
		</div>
	{% endif %}
</div>

<script>
	
	$(document).ready(function() {

		$('#button-custom-order').on('click', function(){

			{% if (not logged) %} 

					checkoutCustomer()
						{% if (login is defined and login != constant('false')) %} 
							.then( checkoutLogin )
						{% endif %} 
						{% if (shipping is defined and shipping != constant('false')) %} 
							.then( checkoutShipping )
						{% endif %} 
							.then( checkoutPayment )
						{% if (comment is defined and comment != constant('false')) %} 
							.then( checkoutComment )
						{% endif %} 
							.then( checkoutConfirm )
							.catch( failureCallback );

			{% else %} 

				{% if (shipping is defined and shipping != constant('false')) %} 

					checkoutShipping()
						.then( checkoutPayment )
						{% if (comment is defined and comment != constant('false')) %} 
							.then( checkoutComment )
						{% endif %} 
						.then( checkoutConfirm )
						.catch( failureCallback );

				{% else %} 

					checkoutPayment()
						{% if (comment is defined and comment != constant('false')) %} 
								.then( checkoutComment )
							{% endif %} 
							.then( checkoutConfirm )
							.catch( ailureCallback );


				{% endif %}	

			{% endif %} 

		});

	});
  
</script>
{# {{ footer }} #}