    {{ header }}

    {{ content_top }}

    <main id="main-content" class="max-w-full md:px-3">
      <div class="main-container has-section-divided max-w-screen-xl-monitor mx-auto grid main-bg-linear gap-36 pt-11 *:-my-11">
        {{ column_left }}
        {{ content_bottom }}
        {{ column_right }}
      </div>

      {{ footer }}
    </main>
  </body>
</html>